### Loan Approval Prediction

#### Import Necessary Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import sklearn

#### Import the Dataset

In [4]:
df=pd.read_csv("D:/repository/Loan_Approval_Prediction/loan_approval_dataset.csv")
print(df.head(3))
print(df.shape)

   loan_id   no_of_dependents      education  self_employed   income_annum  \
0        1                  2       Graduate             No        9600000
1        2                  0   Not Graduate            Yes        4100000
2        3                  3       Graduate             No        9100000

    loan_amount   loan_term   cibil_score   residential_assets_value  \
0      29900000          12           778                    2400000
1      12200000           8           417                    2700000
2      29700000          20           506                    7100000

    commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                  17600000              22700000            8000000
1                   2200000               8800000            3300000
2                   4500000              33300000           12800000

   loan_status
0     Approved
1     Rejected
2     Rejected
(4269, 13)

### EDA

#### Check for null value

In [5]:
print(df.isnull().sum())

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

#### Get all the numerical/Categorial dtype column

In [10]:
categorical=df.select_dtypes(include=['object']).columns
numerical=df.select_dtypes(exclude=['object']).columns
print("Categorical variable:",categorical)
print("Numerical variable",numerical)

Categorical variable: Index([' education', ' self_employed', ' loan_status'], dtype='object')
Numerical variable Index(['loan_id', ' no_of_dependents', ' income_annum', ' loan_amount',
       ' loan_term', ' cibil_score', ' residential_assets_value',
       ' commercial_assets_value', ' luxury_assets_value',
       ' bank_asset_value'],
      dtype='object')

### Find all the unique value in data

In [14]:
for i in categorical:
    print(i)
    print("\n")
    print(df[i].unique())

 education


[' Graduate' ' Not Graduate']
 self_employed


[' No' ' Yes']
 loan_status


[' Approved' ' Rejected']